@inherits Umbraco.Web.Mvc.UmbracoViewPage

<section class="content-banner docs-banner" id="legal-banner">
                <div class="content-banner-bg" style="display: block;">&nbsp;</div>

                <div class="content-banner-hero" style="display: block;">
                    <h4>@Model.GetProperty("PageTitle").GetValue()</h4>
                </div>
            </section>